<!--<mat-toolbar color="primary" class="example-toolbar">
    <div fxShow.gt-xs="false" >
      <button mat-icon-button (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs  fxLayoutGap="20px">
      <a routerLink="/" >Search</a>
    
      <a routerLink="/mycomparison">Load Comparison</a>
    </div>
  
  </mat-toolbar>-->

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="onToggleSideNav()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar> 

  