
.example-header-image {
   
    background-size: cover;
}

.example-card {
    max-width: 100%;
}

  

.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 5%;
}

p {
    margin: 0 0 0px;
}

.features{
    margin-top: 0.5cm;
}

.mat-progress-bar {
    display: block;
    height: 20px;
}
.features-value{
    margin-left: 14px;
}
@media only screen and (min-width: 435px) {
    .mat-card-avatar {
        height: 200px;
        width: 200px;
        border-radius: 0;
        flex-shrink: 0;
        object-fit: cover;
    }
  }
@media only screen and (max-width: 435px) {
    .mat-card-avatar {
        height: 150px;
        width: 150px;
        border-radius: 0;
        flex-shrink: 0;
        object-fit: cover;
    }    
    .mat-card-subtitle, .mat-card-content {
        font-size: 10px;
    }
    .mat-card-header .mat-card-title {
        font-size: 13px;
    }
  }

  @media only screen and (max-width: 360px) {
    .mat-card-avatar {
        height: 100px;
        width: 100px;
        border-radius: 0;
        flex-shrink: 0;
        object-fit: cover;
    }  
  }
  