<div fxLayout="column" fxLayoutAlign="center center">
    <form class="example-form" #f="ngForm" (ngSubmit)="onSubmit(f)" >
        <mat-form-field class="example-full-width">
          <input type="text"
                 placeholder="Enter song"
                 aria-label="Number"
                 matInput
                 required
                 [formControl]="myControl"
                 [matAutocomplete]="auto">
                 <mat-error>Song can not be empty</mat-error>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="center center">
            <button type="submit" mat-raised-button color="primary">Search</button>
        </div>
        
      </form>
</div>
    
    
